<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="loadingdata.ashish.advocateapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.IndexActivity"
            android:label="@string/title_activity_index"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activity.NewCasesActivity" />
        <activity android:name=".Activity.ViewAllActivity" />
        <activity android:name=".Activity.UserProfileDescription"></activity>
    </application>

</manifest>